@media (max-width: 768px) {
    div {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    div {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

.fondo{
background: rgba(41,128,185,0.5);
background: -webkit-linear-gradient(to left, rgba(44,62,80,0.5), rgba(41,128,185,0.5));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(44,62,80,1), rgba(41,128,185,0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}