@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
    font-family: Arial, Helvetica, sans-serif;
}

.rounded-image {
    border-radius: 10px;
    border: 2.5px solid #042b54;
}

.fondoLogin{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-conta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: '100%'; /* Ancho máximo */
    margin: 0 auto; 
}


.form-body {
    width: 400px;
    min-width: 300px;
    border-radius: 50px;
    /* border-top-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
    border: solid 1px #088A68;
    margin: 10px;
    background-color: white;
}

.form-body img {
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:black;
    margin-bottom: 25px;
}

.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: black;
    border: 1px solid black;
    /* border-radius: 10px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    /* border-top-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    font-size: 1rem;
    outline: none;
}

/* .form-body input[type="password"] {
    margin-top: 20px;
} */

::placeholder {
    font-size: 1rem;
    color: black;
}

/* TRANSACCIÓN CUANDO ESCRIBE */
.form-body input:hover {
    transition: .2s;
    border: 1px solid #2980b9;
    color: #2498db;
}

.form-body button {
    display: block;
    /* margin: auto; */
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: #088A68 ;
    color:white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid #088A68;
    transition:  all .5s ease;

}
 
.form-body button:hover {
    color: #d5dbdd;
    border: 2px solid  #088A68;
    background:linear-gradient(#34495e,#2c3e50);
}

.form-body a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color:  #0B0B61;

    margin-left: 120px;
    margin-top: 50px;
}

.row g-3{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #005f4c;
    margin: 10px;
    background-color: white;
}

.container{
    background-color: white;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 50%;
    border-radius: "10px";
    color:white;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #0B0B61;
    transition:  all .5s ease;
}


h5{
    background-color: #0B0B61;
    color: white;
    text-align: center;
}

.form input:focus {
	outline: none;
	border: 2px solid #042B61;
}

.form button[type="submit"] {

	background: #009c7d;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 30%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.form button[type="submit"]:hover {
	background: #005f4c;
}

.dropdown-select:focus{
    outline: none;
      border: 2px solid #042B61;
  }

  .dropdown-select {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .form input,
.form textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.login-image {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Ajustar el ancho de la imagen según sea necesario */
    width: 150px;
    /* Añadir margen si es necesario */
    margin-bottom: 20px;
    box-shadow: '2px 2px 4px rgba(0, 0, 0, 0.2)'
  }
  
  /* Ajustar el margen superior del formulario para que se separe de la imagen */
  .form-group {
    margin-top: 60px;
  }